<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>filipe-cloud</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

</head>
<body>
    <%- include('shared/header') -%>
    <div>
        <a href="..">
            <button type="button" class="btn btn-secondary"><b>&larr; Anterior</b></button>
        </a>
    </div>
    <br>
    
    <div>
        <% if (tipo === 'texto') { %>
            <pre>
                <%= conteudo %>
            </pre>
        <% } else if (tipo === 'image') { %>

            <div><%= imageBuffer%></div>

        <% } else if (tipo === 'video') { %>
            <video controls>
                <source src="<%= conteudo %>" type="video/mp4">
                Seu navegador não suporta o elemento de vídeo.
            </video>
        <% } else { %>
            <p><%= conteudo %></p>
        <% } %>
    </div>
</body>
</html>