<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>filipe-cloud</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

</head>
<body>
    <%- include('shared/header') -%>
    <a href="<%= anterior %>">
        <button type="button" class="btn btn-secondary"><b>&larr; Anterior</b></button>
    </a>
    <h3><%= caminho %></h3>
    <div class="row">
        <% if (formattedItems.length == 0) { %>
            <div class="emptydirmsg text-center">
                <h3 class="text-bg-danger"><%= emptyDirMsg %></h3>
            </div>
        <% } else { %>
            <% for( let i = 0; i < formattedItems.length; i++ ) { %>
                <% if (directories.includes(formattedItems[i])) { %>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                        <div class="card " style="background-color: rgb(217, 190, 123);">
                            <div class="card-body">
                                <h5 class="card-title"><%= formattedItems[i].name %></h5>
                                <a href="<%=formattedItems[i].name%>" class="btn btn-primary">Ir >>></a>
                            </div>
                        </div>
                    </div>
                <% } else { %> 
                    <div class="col-sm-4 mb-3 mb-sm-0">
                        <div class="card " style="background-color: rgb(123, 217, 195);">
                            <div class="card-body">
                                <h5 class="card-title"><%= formattedItems[i].name %></h5>
                                <a href="<%=formattedItems[i].name%>" class="btn btn-primary">Ir >>></a>
                            </div>
                        </div>
                    </div>                
                <% }%>
            <% } %>
        <%  } %>
    </div>
        
</body>
</html> 