<!DOCTYPE html>
<html lang="en">
<%- include('shared/head') %>
<body>
    <%- include('shared/navbar') -%>    
        
    <div class="row">
        <% if (files.length == 0) {%>
            <div class="emptydirmsg text-center">
                <h3 class="text-bg-danger"><%= emptyDirMsg %></h3>
            </div>
            <% } else { %>
                    
                <!-- Caixa de diálogo para confirmar a eliminação -->
                <dialog id="confirmDelDialog">
                    <div class="container text-center">
                        <div class="row justify-content-between">
                            <h5 class="col-sm-4">Eliminar Diretório</h5>
                            <button class="btn col-sm-1" id="closeCross"><i class="bi bi-x-lg"></i></button>
                        </div>
                        <hr>
                        <div class="row">
                            <p>Tens a certeza de que queres eliminar o diretório <b><span id="nameDir"></span></b> e todo o seu conteúdo?</p>
                        </div>
                        <div class="row justify-content-end text-center">
                            <button class="btn btn-secondary col-sm-2" id="cancelDelete">Cancelar</button>
                            <button class="btn btn-danger col-sm-2 ms-1" id="confirmDelete"><i class="bi bi-trash-fill"></i>Apagar</button>
                        </div>
                    </div>
                </dialog>
                <% files.forEach(file => { %>
                    <% if (file.isDirectory) { %>
                        <div class="col-sm-4 mb-3 mb-sm-0">
                            <div class="card " style="background-color: rgb(243, 215, 146);">
                                <div class="card-body">
                                    <h5 class="card-title"><%= file.name %></h5>
                                    <a href="/data<%=file.path%>" class="btn btn-primary">Ir >>></a>
                                    <!-- <button class="ir-btn btn btn-primary" dirName= "<%= file.name %>">Ir >>></button> -->
                                    
                                    <button class="del-btn btn btn-danger" data-file-name="<%= file.name %>"><i class="bi bi-trash-fill"></i></button>
                                    <a href="/edit/<%= file.name %>" class="btn btn-secondary" id="editBtn"><i class="bi bi-pencil-fill"></i></a>
                                </div>
                            </div>
                        </div>                    
                        <% } else { %>
                            <div class="col-sm-4 mb-3 mb-sm-0">
                                <div class="card " style="background-color: rgb(123, 190, 217);">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= file.name %></h5>
                                        <a href="/files/<%=file.name%>" class="btn btn-primary">Ir >>></a>
                                        
                                        <button class="btn btn-danger del-btn" data-file-name="<%= file.name %>"><i class="bi bi-trash-fill"></i></button>
                                        <a href="/edit/<%= file.name %>" class="btn btn-secondary" id="editBtn"><i class="bi bi-pencil-fill"></i></a>
                                    </div>
                                </div>
                            </div>     
                            
                        <% } %>
                <% }); %>
            <% } %>                     
    </div>  

    <% if (files.length != 0) {%>
    <!-- SCRIPT DELETE -->
    <script> 
        //#region DELETE
        const deleteButtons = document.querySelectorAll('.del-btn'); // Seleciona todos os botões de delete
        const nameDir = document.getElementById('nameDir');
        const confirmDialog = document.getElementById('confirmDelDialog');
        
        const closeCross = document.getElementById('closeCross')
        const confirmDelete = document.getElementById('confirmDelete');
        const cancelDelete = document.getElementById('cancelDelete');
        let fileNameToDelete = '';
        
        // Para cada botão, adicionar o evento de clique
        deleteButtons.forEach(button => {
            button.addEventListener('click', function () {
                fileNameToDelete = this.getAttribute('data-file-name'); // Obter o nome do ficheiro do atributo data
                // console.log("A tentar eliminar:", fileNameToDelete); // Exibe o nome do ficheiro a ser eliminado
                
                nameDir.innerHTML = '/' + fileNameToDelete;
                confirmDialog.showModal(); // Exibe o Dialog de confirmação
            });
        })
        
        cancelDelete.addEventListener('click', function () {
            confirmDialog.close() //fecha Dialog ao clicar no botao cancelar
        })
        
        closeCross.addEventListener('click', function () {
            confirmDialog.close() //fecha Dialog ao clicar na cruz
        })
        
        confirmDelete.addEventListener('click', function () {
            fetch('/data/delete', {
                method: 'POST',
                body: JSON.stringify({ path: fileNameToDelete }),
                headers: { 'Content-Type': 'application/json' }
            }).then(() => {
                location.reload()
            })
            .catch(error => {
                console.error('Erro:', error);
            });
            confirmDialog.close()
            
        })
    //#endregion
    </script>
    <% }%>
    <!-- SCRIPT NAVIGATION -->
    <script>
        //#region NAVIGATION BUTTONS 
        const goBack = document.getElementById('goBack')
        const goForward = document.getElementById('goForward')

        
        goBack.addEventListener('click', () => {
            history.back()
        });

        goForward.addEventListener('click', () => {
            history.forward()
        });
  //#endregion
    </script>
</body>
</html> 