<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>filipe-cloud</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

</head>
<body>
    <%- include('shared/header') -%>

    <div class="row">
        <% if (files.length == 0) {%>
            <div class="emptydirmsg text-center">
                <h3 class="text-bg-danger"><%= emptyDirMsg %></h3>
            </div>
        <% } else { %>
            <% files.forEach(file => { %>
                <% if (file.isDirectory) { %>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                        <div class="card " style="background-color: rgb(243, 215, 146);">
                            <div class="card-body">
                                <h5 class="card-title"><%= file.name %></h5>
                                <a href="<%=file.name%>" class="btn btn-primary">Ir >>></a>
                            </div>
                        </div>
                    </div>                    
                <% } else { %>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                        <div class="card " style="background-color: rgb(123, 190, 217);">
                            <div class="card-body">
                                <h5 class="card-title"><%= file.name %></h5>
                                <a href="<%=file.name%>" class="btn btn-primary">Ir >>></a>
                            </div>
                        </div>
                    </div>     
                
                <% } %>
            <% }); %>
        <% } %>
        
    </div>
</body>
   
</html> 