<!DOCTYPE html>
<html lang="en">

    <body>
    <%- include('shared/header') -%>

    <div class="row">
        <% if (files.length == 0) {%>
            <div class="emptydirmsg text-center">
                <h3 class="text-bg-danger"><%= emptyDirMsg %></h3>
            </div>
        <% } else { %>
            <% files.forEach(file => { %>
                <% if (file.isDirectory) { %>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                        <div class="card " style="background-color: rgb(243, 215, 146);">
                            <div class="card-body">
                                <h5 class="card-title"><%= file.name %></h5>
                                <a href="<%=file.name%>" class="btn btn-primary">Ir >>></a>

                                <a href="/delete/<%= file.name %>" class="btn btn-danger" id="delBtn"><i class="bi bi-trash-fill"></i></a>
                                <a href="/edit/<%= file.name %>" class="btn btn-secondary" id="delBtn"><i class="bi bi-pencil-fill"></i></a>
                            </div>
                        </div>
                    </div>                    
                <% } else { %>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                        <div class="card " style="background-color: rgb(123, 190, 217);">
                            <div class="card-body">
                                <h5 class="card-title"><%= file.name %></h5>
                                <a href="<%=file.name%>" class="btn btn-primary">Ir >>></a>

                                <a href="/delete/<%= file.name %>" class="btn btn-danger" id="delBtn"><i class="bi bi-trash-fill"></i></a>
                                <a href="/edit/<%= file.name %>" class="btn btn-secondary" id="editBtn"><i class="bi bi-pencil-fill"></i></a>
                            </div>
                        </div>
                    </div>     
                
                <% } %>
            <% }); %>
        <% } %>
        
    </div>
    <script>
        // function alerta(dirDel){
        //     document.getElementById('delBtn').addEventListener('click', ()=>{
        //         if(dirDel.length){
        //             window.alert('O diretório não está vazio quer continuar?')
        
        //         }
        //     })
        // }
    </script>
</body>
</html> 